@page "/"
@layout BlazorApp1.Components.Layout.HomeLayout
<PageTitle>Home</PageTitle>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1 class="title">Pantry to Plate</h1>

<style> 
    
@@font-face {
    font-family: 'Nyata'; 
    src: url('/fonts/NyataFtrRegular-eZ1Vp.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

    .title {
        color: #394053;
        font-family: 'Nyata', system-ui, sans-serif;
        font-size: 10vw;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        animation: fadeIn 2s ease-in-out;
    }

    @@keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
</style> 
