<div class="gallery-container">
        <div class="gallery">
            <img src="https://placehold.co/600x400" alt="Image 1">
            <img src="https://placehold.co/600x400" alt="Image 2">
            <img src="https://placehold.co/600x400" alt="Image 3">
            <img src="https://placehold.co/600x400" alt="Image 4">
            <img src="https://placehold.co/600x400" alt="Image 5">
        </div>
    </div>