@inherits LayoutComponentBase

<div class="page">
    <div class="topnavbar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body 
        </article>
        <div class="bottom-row px-4">
            <p class="home-description">In a pinch to cook up a marvelous meal, but not sure what to make? We’ve got you covered!</p>
        </div>
    </main>
</div>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<style>
    .home-description {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 32px;
        text-align: center;
    }

</style> 
