@inherits LayoutComponentBase
<div class="page">

    <main>

        <article class="content px-4">
            @Body 
        </article>
    </main>
</div>

<style>
    .home-description {
        color: #394053;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em
        text-align: center;
    }
</style>